/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
	font-family: montserrat, arial, verdana;
}

/*form styles*/

#msform {
	width: 100%;
	margin: 30px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: #f7f7f7;
	border: 0 none;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	/*stacking fieldsets above each other*/
	/* position: absolute; */
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/

#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/

#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
	height: 150px;
	padding: 20px 0;
}

#progressbar li {
	list-style-type: none;
	color: #26af61;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	margin: 0 auto 5px auto;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	top: 65px;
	position: relative;
}

/*progressbar connectors*/

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ddd;
	position: absolute;
	left: -50%;
	top: 85px;
	z-index: -1;
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before, #progressbar li.active:after {
	background: #27AE60;
	color: white;
}

.res-progress-heading {
	text-align: center
}
@media only screen and (max-width: 767px) {
	.res-container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		width: 1170px;
	}
}

@media only screen and (max-width: 767px) {
	.res-progress #progressbar {
		margin-bottom: 25px;
		overflow: unset;
		counter-reset: step;
		height: auto;
		padding: 0;
		margin-left:0
	}
	.res-progress #progressbar li {
		width: auto;
		float: none;
		border: 1px solid #27ae5f;
		padding: 20px 30px 10px;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.res-progress #progressbar li:before {
		top: -9px;
	}
	.res-progress #progressbar li::before {
		display: none
	}
	.res-progress #progressbar li.active span {
		width: 40px;
		display: block;
		font-size: 14px;
		color: #fff;
		margin: 0 auto 5px auto;
		height: 40px;
		border-radius: 50%;
		line-height: 40px;
		top: -6px;
		position: relative;
	}
	.res-progress #progressbar li span {
		width: 40px;
		display: block;
		font-size: 14px;
		color: #fff;
		background: #777;
		margin: 0 auto 5px auto;
		height: 40px;
		border-radius: 50%;
		line-height: 40px;
		top: -6px;
		position: relative;
	}

	.none{
		display: none;
	}
}
.res-progress #progressbar {
	margin-left: 0;
}

/*rhossain start*/
.res-progress #progressbar li span{
    float: left;
}
.res-progress #progressbar li span.active{
    background:  #27ae5f;
}

/*rhossain end*/